body {
    padding: 50px;
    background-color: #6cf;
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    outline: none;
}

.todoListMain .header input:focus {
    box-shadow: 0 0 2px #ffffff;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    color: #505739;
    background-color: #eae0c2;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px -1px #1c1b18;
    text-shadow: 0px 1px 0px #ffffff;
    cursor: pointer;
}

.todoListMain .header button:hover {
    background-color: #ccc2a6;
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    cursor: pointer;
}

.todoListMain .header button:active {
    background-color: #c1b79b;
    background: linear-gradient(to bottom, #c3b99e 5%, #efe5c8 100%);
}

.todoListMain .theList {
    list-style: none;
    padding-left: 0;
}

.todoListMain .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;

    transition: background-color .2s ease-out;
}

.todoListMain .theList li:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}